<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

	<head>
		<meta charset="UTF-8">
		<title>成都大学实训系统</title>
		<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css" />
		<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<style type="text/css">
			body {
				margin: 0px;
				padding: 0px;
				background-color: rgb(66, 133, 244);
			}
			
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p,
			ol,
			ul {
				margin: 0px;
			}
			
			div {
				margin: 0px;
				padding: 0px;
			}
			
			ul li {
				margin: 0px;
				padding: 0px;
			}
			
			.navbar-header {
				font-size: 20px;
				margin: 10px 0px 0px 30px;
			}
			
			.navbar-header a {
				color: white;
				text-decoration: none;
			}
		</style>
	</head>

	<body>
		<div class="navbar-header">
			<a href="../index.html" target="_top" class="navbar-brand">
			<span class="glyphicon glyphicon-align-justify">
				成都大学信工学院|实训实习系统
			</span>
			</a>
		</div>
	</body>

</html>